.wrapper-auth {
    width: 100%;
    height: 100%;

    .wrapper-auth-content {
        display: block;
        padding: 0px 5px 60px 5px;
        margin: 0 auto;
        text-align: center;

        .logo {

        }

        .header {

            .title {
                color: #222;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                margin-bottom: 15px;

                h4 {
                    color: #212121;
                    font-size: 28px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                i {
                    margin-top: 3px;
                }
            }

            .content {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}