.shop-protected {
    display: block;
    margin: 0 auto;

    .content {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;

        .link {
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: brown;
            }
        }
    }
}