.modal-overlay {
    
    .modal-content {
        width: 320px;
        display: block;
        background: #d5d5d5;
        padding: 20px;
        margin: 0 auto;
        border: 1px solid #333;
        overflow: auto;
        outline: none;

        .modal-btn {
            text-align: right;

            .btn-modal-close {
                background: brown;
                color: #eee;
                text-align: right;
                padding: 6px 6px 4px 6px;
                border: none;
                transition: .1s all;
                border: 1px dashed #333;

                &:hover {
                    background: #333;
                    color: #eee;
                }
            }
        }
    }
}