.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .spinner-content {
        background: transparent;
        width: 128px;
        height: 128px;
        border: 10px solid #555;
        border-top: 10px solid brown;
        border-radius: 50%;
        animation: infyways-loader-spin 1000ms linear infinite;
    }

    @keyframes infyways-loader-spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}