.editing {
    
    .editing-form {
        width: 300px; 
        margin: 0 auto; 

        .editing-group {
            text-align: left;

            label {
            }

            input {
                background: #ddd;
                color: #212121;
                width: 100%;
                font-size: 13px;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #666;

                &:focus {
                    background: #fff;
                    outline: none;
                    box-shadow: none;
                }
            }

            textarea {
                background: #ddd;
                color: #212121;
                width: 100%;
                font-family: "Red Hat Display", sans-serif;
                font-size: 13px;
                padding: 10px;
                border: 1px solid #666;

                &:focus {
                    background: #fff;
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .editing-edit {
            margin-top: 20px;
            text-align: left;

            .btn-note-save {
                background: burlywood;
                color: #333;
                text-align: right;
                padding: 10px 15px; 
                border: none;
                transition: .1s all;
                border: 1px dashed #333;

                &:hover {
                    background: #333;
                    color: #eee;
                }   
            }
        }
    }
}