.sidebar-layout {
    position: fixed;
    top: 68px;
    left: -1px;
    background: #e5e5e5;
    height: 100vh;
    display: block;
    border-top: 1px dashed #333;
    border-right: 1px dashed #333;
    transition: .4s all;
    z-index: 1000;
    
    .sidebar {

        .top-sidebar {

                .logo {
                    display: block;
                    text-align: center;
                    padding: 10px 0;

                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }

                .sidebar-list {
                    text-align: center;

                    .active-link {
                        background: #444;
                        color: #fff;
                        display: block;
                        padding: 20px 0px;
                        text-decoration: none;
                        transition: .3s all;

                        &:hover {
                            background: #666;
                            color: burlywood;
                        }
                    }

                    .not-active-link {
                        background: transparent;
                        color: #333;
                        display: block;
                        padding: 20px 0px;
                        text-decoration: none;
                        transition: .3s all;

                        &:hover {
                            background: #666;
                            color: burlywood;
                        }
                    } 
                }
            }
        }
}