.checkout {
    width: 320px;
    margin: 0 auto;

    .checkout-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        p {
            font-size: 15px;
            font-weight: 400;

            span {
                color: brown;
            }
        }
    }

    .checkout-form {
        text-align: left;

        .group-item {

            label {
                color: #333;
                font-size: 15px;
                font-weight: 400;
            }

            input {
                background: transparent;
                color: #212121;
                width: 100%;
                height: 35px;
                font-size: 13px;
                padding: 8px 0;
                margin-bottom: 5px;
                border: none;
                border-bottom: 1px dashed #333;

                &:focus {
                    background: transparent;
                    outline: none;
                    box-shadow: none;
                }
            }   
        }

        .checkout-actions {
            display: flex;
            gap: 5px;

            .btn-checkout-cancel {
                background: #333;
                color: #eee;
                padding: 10px;
                border: 1px solid #333;
                border-radius: 5px;
                margin-top: 15px;
                text-transform: uppercase;
                transition: .3s all;

                &:hover {
                    background: #eee;
                    color: #333;
                }
            }

            .btn-checkout-confirm {
                background: #333;
                color: #eee;
                padding: 10px;
                border: 1px solid #333;
                border-radius: 5px;
                margin-top: 15px;
                text-transform: uppercase;
                transition: .3s all;

                &:hover {
                    background: #eee;
                    color: #333;
                }
            }
        }
    }
}