.cart-modal-overlay {
    position: fixed;
    top: 18%;
    left: 0%;
    width: 100%;
    height: 100%;

    .cart-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        height: 220px;
        background: #d5d5d5;
        padding: 20px;
        margin: 0 auto;
        border: 1px solid #333;
        overflow: auto;
        outline: none;

        .modal-btn {
            text-align: right;

            .btn-modal-close {
                background: transparent;
                color: #333;
                text-align: right;
                border: none;
                transition: .2s all;

                &:hover {
                    color: brown;
                    transition: .2s all;
                }
            }
        }

        .cart-modal-text {
            font-size: 14px;

            span {
                color: brown;
            }
        }

        .cart-modal-actions {
            display: flex;
            justify-content: center;
            gap: 5px;
            margin-top: 10px;

            .btn-cart-modal-cancel {
                padding: 10px;
                border: 1px dashed brown;
                border-radius: 3px;
                transition: .3s all;

                &:hover {
                    background: #333;
                    color: #eee;
                }
            }

            .btn-cart-modal-confirm {
                background: brown;
                color: #eee;
                padding: 10px;
                border: 1px dashed #333;
                border-radius: 3px;
                transition: .3s all;

                &:hover {
                    background: #333;
                }
            }
        }
    }
}