.shop-form {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    .input {
        background: #555;
        color: #eee;
        padding: 6px;
        border: 1px solid #333;

        &:focus {
            outline: none;
        }
    }

    .btn-shop-add {
        background: brown;
        color: #eee;
        padding: 6px 20px;
        border: 1px solid #333;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            background: #333;
            color: #eee;
        }
    }
}