@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Iceland&family=Orbitron:wght@400..900&family=Protest+Guerrilla&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Russo+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg,rgba(229, 229, 229, 1) 0%, rgba(149, 149, 149, 1) 75%);
  background-attachment: fixed;
  background-size: cover;
  color: #212121;
  width: 100%;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
  overflow: auto;
}

h1, h2 {
  font-family: "Russo One", sans-serif;
  font-size: 28px;
}

a {
  color: #212121
}

.link {
  text-decoration: none;
}

button {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

section {
}

p {
    font-size: 14px;
    font-weight: 600;
}