footer {
    background: transparent;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    
    .footer {
        border-top: 1px dashed #333;

        p {
            color: #121615;
            text-align: center;
            font-size: 12px;
            padding: 15px 0 20px 0;
        }
    }
}