.send-message {
    width: 320px;
    display: block;
    margin: 0 auto;
    text-align: right;

    .send-message-group {
        text-align: left;

        label {
            display: block;
            color: #333;
            font-size: 15px;
            font-weight: 400;
            margin-top: 15px;
        }

        input {
            background: #ddd;
            color: #212121;
            width: 100%;
            font-size: 13px;
            padding: 6px;
            border: 1px solid #666;

            &:focus {
                background: #fff;
                outline: none;
                box-shadow: none;
            }
        }
        
        textarea {
            background: #ddd;
            color: #212121;
            width: 100%;
            font-family: "Red Hat Display", sans-serif;
            font-size: 13px;
            padding: 6px;
            border: 1px solid #666;

            &:focus {
                background: #fff;
                outline: none;
                box-shadow: none;
            }
        }
    }

    .btn-message-send {
        background: #eee;
        color: #333333;
        font-weight: 500;
        border-radius: 0;
        padding: 6px 15px;
        margin-top: 3px;               
        border: 1px solid #666;
        transition: .2s all;

        &:hover {
            background: brown;
            color: #fff;
        }   
    }
}