.nav-mobile {
    width: 100%;
    padding: 0 25px;
    border-top: 1px dashed #121212;
    border-bottom: 1px dashed #121212;
    
    .nav-mobile-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
        gap: 10px;

        .logo {
            width: 100%;
            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
                height: 50%;
            }  
        }

        .nav-mobile-list {
            display: flex;
            list-style-type: none;

            .item-cart {
                display: flex;

                .active-cart-link {
                    position: relative;
                    background: #333;
                    color: #eee;
                    display: block;
                    padding: 17px 16px 12px 16px;
                    border-left: 1px dashed #333;
                    text-decoration: none;

                    &:hover {
                        background: #333;
                        color: #eee;
                    }

                    i {
                        position: relative;
                    }

                    .cart-count {
                        position: absolute;
                        bottom: 7px;
                        right: 12px;
                        background: brown;
                        color: #eee;
                        padding: 0px 4px;
                        border-radius: 15px;            
                    }
                }

                .not-active-cart-link {
                    position: relative;
                    background: transparent;
                    color: brown;
                    display: block;
                    padding: 17px 16px 12px 16px;
                    border-left: 1px dashed #333;
                    text-decoration: none;

                    &:hover {
                        background: brown;
                        color: #eee;
                    }

                    .cart-count {
                        position: absolute;
                        bottom: 7px;
                        right: 12px;
                        background: #333;
                        color: #eee;
                        padding: 0px 4px;
                        border-radius: 15px;            
                    }
                }   
            }

            .item-account {
                display: flex;
            }

            .item-active-hamburger {
                display: flex;
                color: #333;
                padding: 8px;
                border-left: 1px dashed #333;
                border-right: 1px dashed #333;
                transition: .3s all;

                &:hover {
                    background: brown;
                    color: #eee;
                }
            }

            .item-not-active-hamburger {
                display: flex;
                background: transparent;
                color: #333;
                padding: 8px;
                border-left: 1px dashed #333;
                border-right: 1px dashed #333;
                transition: .3s all;

                &:hover {
                    background: brown;
                    color: #eee;
                }
            }   
        }
    }
}
